<section class="featured-videos-section clearfix">
  <div class="featured-videos-section-row">
    <div class="featured-videos-media-wrapper">
      <div class="video">
        <iframe src="https://www.youtube.com/embed/6Or78hveeDA?ecver=2" allowfullscreen></iframe>
      </div>
      <div class="featured-videos-content-wrapper">
        <h2>FEATURED ON SHOW "THE FIGHTERS"</h2>
        <p> Check out JR13 Boxing's Joe Ricciardi and Greg Vendetti
          starring in the show "THE FIGHTERS" which a good portion of
          the show was filmed down at JR13 Boxing.</p>
      </div>
    </div>
    <div class="featured-videos-media-wrapper">
      <div class="video">
        <iframe src="https://www.youtube.com/embed/A1NZcH2haIM?ecver=2" allowfullscreen></iframe>
      </div>
      <div class="featured-videos-content-wrapper">
        <h2>FEATURED IN DROPKICK MURPHY'S MUSIC VIDEO "THE BOYS ARE BACK"</h2>
        <p>Check out JR13 Boxing's Joe Ricciardi and Greg Vendetti featured in Dropkick Murphy's music video "The Boys Are Back"</p>
      </div>
    </div>
  </div>
</section>
