<section class="member-section">
  <div class="member-section-title-wrapper">
    <h2>Fighters</h2>
  </div>
  <div class="member-section-row">
    {% for fighter in page.fighters %}
    <div class="member-container">
        <div class="member-section-media-wrapper">
          <img src="{{ fighter.image }}" />
        </div>
        <div class="member-section-content-wrapper">
          <h3>{{ fighter.name }}</h3>
          <p>{{ fighter.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
