<section class="founders-section">
  <div class="founders-section-row">
    <div class="founder-section-media-wrapper">
      <h2>Joe Ricciardi</h2>
      <div class="founder-pic"></div>
    </div>
    <div class="founder-section-media-wrapper">
      <h2>Stephen Morgante</h2>
      <div class="founder-pic"></div>
    </div>
    <div class="founder-section-content-wrapper">
      <p>Founders of Tomasello Boxing Club. Trainers of Amatuer and Professional Fighters.</p>
    </div>
  </div>
</section>
