<a name="home"></a>
<section class="hero-banner">
  <a href="#home"></a>
  <div class="hero-banner-row">
    <div class="title-content-wrapper">
      <img src="./assets/img/jr13Logo1.png" alt="">

    </div>
  </div>
  <div class="hero-banner-content-wrapper">
    <h3>THERE IS NO CERTIFICATION FOR TRUE BOXING KNOWLEDGE</h3>
    <p>Here at JR13 Boxing we teach the old school ways of boxing.
      That hard work and experience is what truly makes a person grow to become a great fighter.
      Here you will learn the fundamentals of boxing and how to box the correct way.
      We come together to improve ourselves mentally and physically to which will also help growth and confidence in other areas of life.
      </p>
  </div>
</section>
