<section class="videos-container clearfix">
  <div class="video-side">
    <div class="video"></div>
    <h2>FEATURED ON SHOW "THE FIGHTERS"</h2>
    <p> Check out Tomasello's own Joe Ricciardi and Greg Vendetti
      starring in the show "THE FIGHTERS" which a good portion of
      the show was filmed down at Tomasello's Boxing Club.</p>
  </div>
  <div class="video-side">
    <div class="video"></div>
    <h2>FEATURED IN DROPKICK MURPHY'S MUSIC VIDEO "THE BOYS ARE BACK"</h2>
    <p>Check out Tomasello's Trainer Joe Ricciardi and Fighter Greg Vendetti featured in Dropkick Murphy's music video "The Boys Are Back"</p>
  </div>
</section>
