<a name="trainers"></a>
<section class="member-section">
  <a href="#trainers"></a>
  <div class="member-section-title-wrapper">
    <h2>Trainers</h2>
  </div>
  <div class="member-section-row">
    {% for trainer in page.trainers %}
    <div class="member-container">
        <div class="member-section-media-wrapper">
          <img src="{{ trainer.image }}" />
        </div>
        <div class="member-section-content-wrapper">
          <h3>{{ trainer.name }}</h3>
          <p>{{ trainer.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
