.founders-section{
  background-color: black;
  padding: 20px;
  clear: both;
}

.founders-section-row {
  background-color: black;
}

.founder-section-media-wrapper{
  width: 50%;
  float: left;
  padding: 0 0 50px 0;
}

.founder-pic{
  width: 60%;
  border: red solid 2px;
  margin: 0 auto;
  height: 320px;
}

.founder-section-media-wrapper h2{
  text-align: center;
  color: red;
  font-size: 24px;
}

.founder-section-content-wrapper {
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 0 0 50px 0;
}

@media only screen and (max-width: 768px){
.founder-section-media-wrapper{
  width: 100%;
  float: none;
  }
  .founders-section{
    padding: 10px;
  }
}
