.hero-banner{
  background-color: black;
  padding: 75px 0 0 0;
}

.hero-banner-row{
  color:red;
  height: 100vh;
  display: flex;
  background-image: url('https://static1.squarespace.com/static/53603c8de4b0e6ed7cf69eb4/t/54afe770e4b0fce9b5dae81f/1420814303054/');
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}

.title-content-wrapper{
  margin: auto;
  background-color:rgba(52, 52, 52, .5);
  padding: 0 50px;
}

.title-content-wrapper h1{
  font-size: 130px;
  text-align: center;
}

.hero-banner-content-wrapper{
  padding: 20px 55px;
}

.hero-banner-content-wrapper h3 {
  color: red;
  text-align: center;
  font-size: 40px;
}

.hero-banner-content-wrapper p {
  text-align: center;
  color: white;
  font-size: 32px;
  padding: 20px 50px 70px 50px;
}


@media only screen and (max-width: 768px){
  .title-content-wrapper{
    width:100%;
  }
  .hero-banner-row h1, .background h2{
    font-size: 64px;
  }
  .hero-banner-content-wrapper p{
  font-size: 24px;
  padding: 20px 20px 40px 20px;
  }
}
