.featured-videos-section{
  background: black;
  float: left
}

.featured-videos-media-wrapper{
  width: 50%;
  float: left;
  padding: 50px 0 0 0;
}

.featured-videos-content-wrapper h2{
  text-align: center;
  color: red;
  font-size: 36px;
  padding: 30px;
}

.featured-videos-content-wrapper p {
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 30px;
}
.video{
  width: 60%;
  margin: 0 auto;
  height: 240px;
}

.video iframe{
  width: 100%;
  height: 240px;
}

@media only screen and (max-width: 768px){
  .featured-videos-media-wrapper{
    float: none;
    width: 100%;
  }
}
