.open-daily-section{
  background-color: red;
  padding: 40px;
  clear: both;
}

.open-daily-section-row {
  background-color: black;
}

.open-daily-section-row-content-wrapper{
  padding: 40px 0 0 0;
}

.open-daily-section-row-content-wrapper h2{
  font-size: 64px;
  color: red;
  text-align: center;
}

.open-daily-section-row-content-wrapper h3{
  text-align: center;
  color: white;
  font-size: 48px;
}
.open-daily-section-row-media-wrapper{
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0 100px 0
}

.photo{
  width: 40%;
  border: red solid 2px;
  height: 320px;
}

@media only screen and (max-width: 768px){
.black-container h3{
  font-size: 48px;
}

.open-daily-section-row-media-wrapper{
  flex-direction: column;
  align-items: center;
}

.photo{
  width: 80%;
  }
  
.photo:nth-child(2){
  margin-top: 40px;
  }
}
