.open-daily-section{
  background-color: red;
  padding: 20px;
  clear: both;
}

.open-daily-section-row {
  background-color: black;
}

.open-daily-section-row-content-wrapper{
  padding: 40px 0 0 0;
}

.open-daily-section-row-content-wrapper h2{
  font-size: 48px;
  color: red;
  text-align: center;
  margin: 0;
}

.open-daily-section-row-content-wrapper h3{
  text-align: center;
  color: white;
  font-size: 36px;
}
.open-daily-section-row-media-wrapper{
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0 100px 0
}

.open-daily-section-row-media-wrapper img{
  object-position: top;
  width: 32%;
  height: 375px;
  object-fit: cover;
}



.open-daily-section-location-wrapper{
  padding: 0 0 50px 0;
}
.open-daily-section-location iframe{
  width: 80%;
  height: 450px;
  display: block;
  margin: 0 auto;
}

.open-daily-section-location-content-wrapper{
  text-align: center;
  color: red;
  font-size: 24px
}

@media only screen and (max-width: 768px){
.open-daily-section-row-content-wrapper h3{
  font-size: 40px;
}

.open-daily-section{
  padding: 10px;
  }

.open-daily-section-row-media-wrapper{
  flex-direction: column;
  align-items: center;
}

.photo{
  width: 90%;
  }

.photo:nth-child(2){
  margin-top: 40px;
  }

.open-daily-section-row-media-wrapper img{
    width: 80%;
    margin-bottom: 5px;

  }


}
