.trainer-section{
  clear: both;
  color: red;
  background-color: black;
  padding: 0 100px 75px 100px;

}
.trainer-section-row{

}
.trainer-section-title-wrapper{
  text-align: center;
  color: red;
  padding: 50px 0 20px 0px;
  font-size: 36px;
}
.trainer-section-title-wrapper h2{
  margin: 0;

}

.trainer-container{
  background-color: black;
  display: flex;
  margin: 0 auto;
  border-bottom: solid white 2px;
}
.trainer-section-media-wrapper{
  width: 25%;
  align-content: center;
  display: flex;
  float: left;
  height: 300px;
  justify-content: center;
  padding: 2em;
}


.trainer-container:nth-child(even){
    flex-direction: row-reverse;
  }

.trainer-container:nth-last-child(0){
  padding: 0 0 25px 0;
}

.trainer-section-content-wrapper{
  width: 75%;
  align-content: center;
  display: flex;
  flex-flow: column;
  float: left;
  height: 300px;
  justify-content: center;
  padding: 36px;

}

@media only screen and (max-width: 768px){
  .trainer-section{
    padding: 0;
  }
  .trainer-container{
    flex-direction: column;
    align-items: center;
    padding: 20px 0 50px 0;
    text-align: center;

  }
  .trainer-container:nth-child(even){
    flex-direction: column;
  }

}
